extends ./layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="/img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam excepturi consequuntur officiis cupiditate illum ad dignissimos molestias, optio tempore placeat incidunt assumenda mollitia. Officiis quod sunt temporibus quisquam mollitia rem!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint expedita hic aliquid enim neque magni itaque sapiente eaque beatae, ab libero iusto asperiores architecto assumenda. Necessitatibus eius culpa harum nihil quaerat pariatur suscipit minima sed sapiente, reprehenderit debitis facilis! Illum obcaecati dolor mollitia ut aperiam non assumenda at optio cumque!

                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque doloremque eius iusto quis ut sequi recusandae nihil autem ratione harum rem, corporis est ipsam, eaque deleniti repellat nam obcaecati quos veritatis alias? Quas, quisquam dignissimos quos accusamus nostrum impedit illo!

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, ipsum.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destino", class="img-fluid mb-4")
                    h2.mb-4 Destino
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, ipsum.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, ipsum.